
tr.even td {
  background-color: #FFF;
}

#itemTreeId{
  width: 100px;
}

#itemTreeMax {
  width: 40px;
}

a {
  text-decoration: none
}

#RQLToolbar {
  margin-bottom: 10px;

}
.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
  font-family: "Arial";
  font-size: 13px;
  color: black;
}

.select2-chosen, .select2-choice > span:first-child, .select2-container .select2-choices .select2-search-field input {
    padding: 4px 6px;
}

#select2-drop {
  font-size: 13px;
}

.select2-container .select2-choice {
  height: 24px;
}

.select2-container .select2-choice .select2-arrow b, .select2-container .select2-choice div b {
    background-position: 0 0;
}

.select2-results {
  max-height: 220px;
}

#RQLAdd {
  margin-left: 10px;
}

#RQLResults {
  margin-top: 10px;
}

#RQLLog {
  overflow-x: scroll;
  overflow-x: hidden;
  max-height: 100px;
  padding : 5px;
  border: 1px dashed #CCC;
   width:800px;
   white-space: pre-wrap;
   font-family: monospace;
}
#rawXml {
  display: none;
  margin : 0px;
  padding : 0px;
}

.dataTable {
  font-size: 80%;
  margin: 5px;
  border: 1px solid #CCCCCC;
  z-index: 10;
  position: relative;
  background-color: #FFF;
}

.prop_name {
  font-size: 80%;
}

.prop_attr {
  display: inline-block;
  margin: 2px;
  padding: 1px;
  color: white;
  vertical-align: middle;
}

.prop_attr_red {
  background-color: red;
}

.prop_attr_blue {
  background-color: blue;
}

.prop_attr_green {
  background-color: green;
}

.copyLink {
  text-decoration: none;
  color: #00214a;
}

.copyField {
  width: 200px;
  display: none;
}

.dataTable td, .dataTable th {
  padding: 3px;
}

.dataTable th {
  min-width: 160px;
  text-align: left;
}

#itemId {
  width: 125px;
  height: 26px;
}

.descriptor {
  margin: 5px 10px 5px 5px;
}

.descriptorTable {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

#RQLText .CodeMirror {
  border: 1px solid #aaa;
  height: 250px;
  width:800px;
  cursor: text;
}

#RQLText {
  display: inline-block;
}

.xmlDefinition .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.xmlDefinition .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.btn-desc {
  display: inline-block;
  background-color: #f9f9f9;
  color: #666666;
  border: 1px solid #dcdcdc;
  padding: 2px;
  font-size: 12px;
}

.btn-toolbar {
  display: inline-block;
  background-color: #f9f9f9;
  color: #444;
  border: 1px solid #dcdcdc;
  padding: 5px;
  font-size: 14px;
  margin-right : 20px;
}

#repoToolbar
{
  margin-bottom: 20px;
}

.btn-toolbar:hover {
  color : black;
  }

.red {
  color: #880000;
}

#splitValue {
  width: 40px;
}

.showMore {
  font-size: 80%;
}

.storedQueriesTitle {
  font-size: 13px;
  font-weight: bold;
}

#descProperties {
  display: none;
  vertical-align: top;
  margin-left: 5px;
}

#descProperties tbody tr:nth-child(odd) {
  background-color: #F0F0F6;
}

#descProperties table {
  font-size: 80%;
  border: none;
}

.showQueriesLabel {
  font-size: 80%;
  margin: 0px;
  padding: 5px 0px 0px 0px;
}

.scrollableTab {
  max-width: 600px;
  max-height: 230px;
  overflow-x: auto;
  border: 1px solid #CCC;
}

#storedQueries {
  display: inline-block;
  vertical-align: top;
}

.error {
  color: red;
}

#RQLSave {
  margin: 5px;
}

.queryView {
  display: none;
}

.previewQuery {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.deleteQuery {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.menuArrow {
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
}

.menuArrow img {
  width: 15px;
  height: 8px;
}

/** MENU **/

#menuBar{
  position: absolute;
  top: 0px;
  right: 30px;
}

.menu {
  height: 32px;
  font-size: 11px;
  color: white;
  border: 1px solid #00486c;
  border-top: none;
  padding: 3px;
  text-align: center;
  float:right;
  margin-top: 0px;
  margin-right: 3px;
}

.menu p {
   margin: 0;
}

.menuPanel {
  position: absolute;
  top: 39px;
  right: 33px;
  width: 296px;
  font-size: 11px;
  color: white;
  border : 1px solid #00486c;
  border-top: none;
  padding: 3px;
  display: none;
}

.menuPanel a{
  text-decoration: underline;
  color: white;
}

.menuPanel textarea {
  width: 100%;
}

#bdaBug {
  background-color: #007bb8;
}

#bdaBugPanel {
  background-color: #007bb8;
}

#bdaBackup {
  background-color: #007bb8;
}

#bdaBackupPanel {
  background-color: #007bb8;
}

#bdaSearch {
  background-color: #007bb8;
}

#bdaSearch input{
  margin-top: 1px;
  height: 20px;
}

#whatsnew {
  background-color: #62A03E;
  border-color : #44702B;
}

#whatsnewPanel {
  border-color : #44702B;
  background-color: #62A03E;
}

#bdaConfig {
  background-color: #007bb8;
}

#bdaConfigPanel {
  background-color: #007bb8;
}

#history {
  clear: both;
}

#toolbar {
  padding: 5px;
}

.toolbar-elem {
  float:left;
}

.newFav {
  font-size: 30px;
  border: 1px dashed #AAAAAA;
  height: 54px;
  width: 50px;
  text-align: center;
  margin: 4px;
  line-height: 48px;
  cursor: pointer;
}

.favFilter{
  border: 1px dashed #AAAAAA;
  height: 54px;
  width: 50px;
  margin: 4px;
  cursor: pointer;
   text-align: center;
  font-size: 20px;
  margin: 4px;
  line-height: 48px;
}

#favFilter{
  margin-top: 15px;
}

.fav-chevron{
  line-height: 48px;
}

#favTagList{
  clear: left;
  margin-left: 5px;
  margin-top: 3px;
  height: 18px;
}


#addComponent {
  color: #AAAAAA;
  text-decoration: none;
}

#favSetTags {
  margin-bottom: 5px;
}

.bda-button{
   color:white;
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 12px;
   padding: 0px 6px 0px 0px;
}

.bda-button label, .bda-button input, .bda-button button{
   vertical-align: middle;
}

.bda-button-icon{
  height: 22px;
  width: 22px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
}

.tag-filter-button{
   color:black;
}


.tag-filter{
  cursor: pointer;
}

.tag-filter label{
  margin-left:5px;
  cursor: pointer;
}

.favline{
  margin-bottom: 5px;
  display: block;
}

.favline ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.favline div{
  display:inline-block;
}

.favline li{
    display: inline-block;
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 2px;
}

.newtags{
  width: 85%;
}

.fav {
  min-height: 50px;
  min-width: 75px;
  margin: 4px;
  padding: 2px;
  color: white;
}

.fav a {
  color:white;
}

.favLink {
  text-align: center;
  line-height: 16px;
}

.favLink a, .logdebug {
  color: white;
  text-decoration: none;
}

.favName {
  display: inline-block;
  vertical-align: bottom;
  font-size: 11px;
}

.favArrow {
  text-align: center;
  cursor: pointer;
  padding-top: 2px;
  font-size: 11px;
}

.favArrow img {
  width: 15px;
  height: 8px;
}

.favTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;;
  text-align: center;
}

.favMoreInfo {
  font-size: 11px;
  display: none;
  padding: 0;
  text-align: left;
}

.favDelete {
  cursor: pointer;
}

.fav-button{
 cursor: pointer;
 margin-right: 5px;
}


.favLogDebug form {
  margin: 0;
}

.favLogDebug {
  margin-bottom: 2px;
  margin-top: 2px;
}

.del-cross {
  font-weight: bold;
  font-size: 13px;
}

#oracleATGbrand
{
  width: 120px;
  cursor: pointer;
}

#xmlHighlight
{
  margin-bottom: 0px;
}

#rawXml pre
{
  margin : 0;
}

#sqltext
{
  display: block;
}
#curDataSourceName
{
  font-weight: bold;
}

#sqlResult {
  border-collapse: collapse;
  width: 100%;
  border : 1px solid #ccc;
}

#sqlResult td, #sqlResult th {
  text-align: center;
  border-right: 1px solid #ccc;
  background: none;
}

#sqlResult tbody tr:nth-child(odd) {
  background-color: #F0F0F6;
}


/* Extra selectors needed to override the default styling */
table.tablesorter tbody tr.normal-row td {
  background: #fff;
  color: #3d3d3d;
}
table.tablesorter tbody tr.alt-row td {
  background: #EAF2FA;
  color: #3d3d3d;
}

table.tablesorter tr.normal-row:hover td,
table.tablesorter tr.alt-row:hover td {
    background-color: #eee;
}

.clickable:hover {
  color : #d14;
  text-decoration: underline;
}

.popup_block {
   background: #fff none repeat scroll 0 0;
   border: 5px solid #ddd;
   box-shadow: 0 0 5px #000;
   display: none;
   font-size: 0.9em;
   padding: 10px;
   position: fixed;
   left: 50%;
   transform: translate(-50%, 0);
   z-index:1;
   height: 400px;
   width: 700px;
   top : 30px;
}

#pipelinePopup {
   height: 600px;
   width: 90%;
   font-size: 14px;
}

#pipelineTable {
	font-size: 14px;
}

.popup_title {
  margin-top : 0;
}

#addComponentToolbarPopupContent {
  height:58%;
  overflow:auto;
}

.close, #submitComponent {
  float: right;
  color : black;
}

.fav-submit-button {
  float: right;
  color : black;
}

#methods, #vars {
  float:left;
  width: 50%;
}

#methods li, #vars li{
  list-style-position:inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#speedbar {
  float:right;
  width:210px;
  margin-right: 100px;
  margin-top : 100px;
}

#speedbar #widget {
  width:240px;
  border :1px solid #999;
  font-size: 13px;
  padding : 10px;
}

#widget i {
  font-size: 11px;
}

#widget ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
}

#widget p {
  margin-top : 0;
}

#widget li {
  margin-top : 5px;
}

.link {
	cursor: pointer;
}

#pipelineTable pre {
	margin : 0;
}

.clickable_property {
  text-decoration : underline;
  cursor: pointer;
}

/* DASH */

.modal-dialog.modal-lg{
  width: 60%;

}

#dashModal .modal-content{
}

#dashModal .modal-footer .tab-pane{
  text-align: left;
}


#dashInput{
   font-family: monospace;
}

#dashForm{
   font-family: monospace;
   margin-bottom: 0;
}

#dashForm .tt-hint{
  color : #ccc;

}

#dashForm .form-group{
  margin-bottom: 0;
}

#dashEditorForm{
  font-size: 14px;
}

#dashScreen {
  font-family: monospace;
  overflow-y:scroll; 
  max-height: 250px;
  height: 250px;
}

#dashScreen .alert{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#dashScreen pre{
  background-color: inherit;
  font-family: inherit;
  border: 0;
  color:inherit;
}

.typeahead.dropdown-menu{
  text-align: left;
}

#dashModal textarea.form-control{
  height: inherit;
}

#dashModal panel{
  background-color: white;
}

table.table{
  background-color: white;
}

/* Override dyn/admin style */
.table th{
  background-color: inherit;
  border-style: inherit;
}

button.dash_save{
  float: right;
}

.printItem{
  margin-top: 15px;
}

#dashModal .modal-footer  .panel{
  margin-bottom: 0;
}

#dashSaveForm{
  margin-bottom: 0;
}

.no-padding{
  padding: 0 !important;
}

